*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'CreamCake';
    src: url('assets/font/Creamcake.otf') format('otf');
}
body {
  background-color: black;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2 {
    text-align: left;
    font-size: 30px;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bio {
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000 px;
}
.portrait {
    width: 10%;
    float:left;
}
.semblanza {
    width: 80%;
    float: right;
    padding: 1px;

}
.barnav {
    padding: 0;
    display:flex;
    justify-content:space-between;
    position: relative;
}    
.barnav .nombre {
    font-family: "CreamCake";
    font-weight: 500;
    font-size: 5vh;
    color:aliceblue;
    margin-top: -4vh;
    margin-left: 6vh;

}
.ico img {
width: 10vh;
cursor: pointer;
}
.menuab {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 11vh;
    left: 90%;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: left;
}
.menuab li a {
    text-decoration: none;
    color:blue;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 3vh;
    padding: 2vh 4vh;
    display: block;
    text-align: left;
    width: 100%;
}
.menuab li a:hover {
    background-color: blanchedalmond;
}
.menuab.active {
    display: flex;
}
.obras {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000 px;
}
.texto1 {
    color:aqua;
    position: absolute;
    left: 70%;
    font-family: "Kalam", cursive;
    font-weight: 200;
    font-size: 5vh;
}
.princip {
    text-align: center;
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-size: 10vh;
    color:aliceblue;
    margin-top: -20vh;
}
.img1 {
    position: absolute;
    width: 60vh;
}
.img2 {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 60vh;
}
.img3 {
    position: absolute;
    top: 90%;
    right: 0%;
    z-index: 1000;
    width: 80vh;
}
.img4 {
    position: absolute;
    top: 90%;
    right: 0%;
    width: 30vh;
}
.img5 {
    position: absolute;
    top: 90%;
    z-index: 2;
    width: 70vh;
}
.img6 {
    position: absolute;
    top: 85%;
    left: 5%;
    transform: rotate(40deg);
    z-index: 1;
    width: 90vh;
}
.img7 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50vh;
}
#semblanza{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
  padding-right: 40px;
  padding-left: 40px;
}