*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'CreamCake';
    src: url('assets/font/Creamcake.otf');
}
body {
  background-color: black;
}
h1 {
    text-align: center;
    font-family: "CreamCake";
    font-weight: 500;
    font-size: 15vh;
    color:blanchedalmond;
    text-decoration: underline purple;
    margin-top: 5vh;
}
.descrip {
    color:blanchedalmond;
}
.ficha {
    color:blanchedalmond;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 3vh;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 40%;
}
.ficha2 {
    color:blanchedalmond;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 3vh;
    text-align: left;
    position: absolute;
    top: 95%;
    left: 10%;
    right: 10%;
}
.ficha3 {
    color:blanchedalmond;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 3vh;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
}
.ficha4 {
    color:blanchedalmond;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 3vh;
    text-align: left;
    position: absolute;
    top: 110%;
    left: 10%;
    right: 10%;
}

.año {
    color:blanchedalmond;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 3vh;
    text-align: left;
    white-space: space-in-between;
}
h2 {
    text-align: left;
    font-size: 30px;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bio {
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000 px;
}
.portrait {
    width: 10%;

}
.semblanza {
    width: 80%;
    float: right;
    padding: 1px;

}
.barnav {
    padding: 0;
    display:flex;
    justify-content:space-between;
    position: relative;
}    
.barnav .nombre {
    font-family: "CreamCake";
    font-weight: 500;
    text-decoration: underline purple;
    font-size: 6vh;
    color:blanchedalmond;
    margin-top: -4vh;
    margin-left: 6vh;

}
.ico img {
width: 10vh;
cursor: pointer;
}
.menuab {
    list-style: none;
    padding: 0;
    background-color: blanchedalmond;
    margin: 0;
    display: none;
    position: absolute;
    top: 11vh;
    left: 90%;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: left;
}
.menuab li a {
    text-decoration: none;
    color:purple;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 3vh;
    padding: 2vh 4vh;
    display: block;
    text-align: left;
    width: 100%;
}
.menuab li a:hover {
    background-color: black;
    color:blue;
}
.menuab.active {
    display: flex;
}
.obras {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000 px;
}
.texto1 {
    color:blue;
    background-color:deeppink;
    transform: rotate(15deg);
    text-decoration:none;
    padding: 1vh;
    position: absolute;
    left: 70%;
    top: 25%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 3vh;
}
.texto1 a{
    text-decoration: none;
    color:black;
}
.texto2 {
    color:blueviolet;
    text-decoration: none;
    white-space: pre-wrap;
    overflow: hidden;
    border-right: 2px aqua;
    position: absolute;
    left: 2%;
    top: 60%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 3vh;
}
#escribe {
    display: inline;
}
.princip {
    text-align: center;
    font-family: "CreamCake";
    font-weight: 500;
    font-size: 15vh;
    color:blanchedalmond;
    text-decoration: underline purple;
    margin-top: 5vh;
}
div.imgfashion img {
    width: 33%
}
div.imags img {
    width: 33%;
}
#aqui {
    position: absolute;
    top: 145%;
    left: 10%;
    width: 80%;
}
.img1 {
    position: absolute;
    width: 60vh;
}
.img2 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 60vh;
}
.img3 {
    position: absolute;
    top: 70%;
    right: 0%;
    z-index: 1000;
    width: 80vh;
}
.img4 {
    position: absolute;
    top: 70%;
    right: 0%;
    width: 30vh;
}
.img5 {
    position: absolute;
    top: 80%;
    transform: rotate(-15deg);
    right: 40%;
    width: 50vh;
}
.img6 {
    position: absolute;
    top: 20%;
    left: 45%;
    width: 50vh;
}
#semblanza{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  color:blanchedalmond;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
  padding-right: 10vh;
  padding-left: 10vh;
}

.postit1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    color:blanchedalmond;
    font-weight: 200;
    background-color: mediumslateblue;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(-20deg);
    padding: 10vh;
    text-align: center;
}
.postit2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    color:blanchedalmond;
    font-weight: 200;
    background-color:deeppink;
    position: absolute;
    top: 15%;
    left: 10%;
    transform: rotate(-2deg);
    padding: 10vh;
    text-align: center;
}