*{
    box-sizing: border-box;
}
body {
    background-color: #f2d4fe;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2 {
    text-align: left;
    font-size: 30px;
    padding: 1px;
    margin-left: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bio {
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000 px;
}
.portrait {
    width: 10%;
    float:left;
}
.semblanz {
    width: 80%;
    float: right;
    padding: 1px;

}
    
.obras {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000 px;
}
.barrita {
    text-align: justify;
    margin: 0;
    padding: 10px;
    width: 20%;
    height: 100%;
    background-color: #e9c3f9;
    position: fixed;
    overflow: auto;

}
.barrita a, .botab{
    text-decoration-line: none;
    color:#262626;
    border: none;
    background: none;
    text-align: left;
    outline: none;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
}
.barrita a:hover, .botab:hover {
    color:blueviolet;
}
.active {
    color: violet;
}
.menuab {
    display: none;
    background-color: none;
    padding-left: 16px;
    font-size: 20px;
}
#semblanza{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
  padding-right: 40px;
  padding-left: 40px;
}
header {

}
.contenedor {
    display: flex;
   
    
}
.div1 {
    flex: ;
    background-color: indigo;
}
.div2 {
    flex: 2;
    background-color:aquamarine;
}
.div3 {
    background-color:blue;
}
.div4 {
    background-color:deeppink;
}
.div5 {
    grid-column: 2;
    grid-row: 4;
    background-color:hotpink;
}
.div6 {
    grid-column: 3;
    grid-row: 4;
    background-color:crimson;
}
